.navbar {
  background-color: #00090d;
  color: var(--white);
  font-family:'Jost', sans-serif;
  display: flex;
  width: 100%;
  top: 0;
  padding: 0rem 3rem;
  margin-bottom: 2rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
}

.navbarLogo {
  color: white;
  font-size: 2rem;
  font-weight: 500;
  line-height: 0.2rem;
  letter-spacing: 0.25rem;
}

.navbarLogo:hover {
  cursor: pointer;
}

.span {
  color: var(--cyan);
}
