  .table {
    border: 2px solid forestgreen;
    margin: auto;
    text-align: center;
    width: 90vw;
    color: black;
    font-weight: 400;
    border-spacing: 1.5rem
  }
    
  .heading {
    border-bottom: 1px solid black;
    width: 8rem;
  }