@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&family=Rubik+Maze&family=Teko&display=swap');


:root {
  --cyan: #00e6f6;
  --blue: #1f6cab;
  --darkBlue: #082a3a;
  --white: #FFFFFF;
  --navy: #111827;
}

html,
body {
  background-color: var(--navy);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

.body{
  padding: 2rem;
}

h1{
  color: var(--cyan);
  line-height: 1.5;
  letter-spacing: 0.2rem;
}

h2{
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0.08rem;
}

p{
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0.01rem;
}

th {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

td{
  line-height: 1.5;
  letter-spacing: 0.05rem;
}

a{
  text-decoration: none;
  color: var(--white);
}


.form{
  width: max-content;
  margin: 20vh auto;
}

form label {
  color: var(--cyan);
  font-size: 4rem;
  font-family: 'rubik maze', cursive;
  letter-spacing: 0.25rem;
}

form input {
  border: none;
  border-radius: 10px;
  background-color: var(--darkBlue);
  color: var(--white);
  width: 50vw;
  padding: 0.75rem;
}

input:focus {
  outline: none;
}

::placeholder{
  color: var(--cyan);
}

input:focus::placeholder{
  color: transparent;
}

form button {
  border: none;
  background-color: var(--blue);
  border-radius: 5px;color: var(--white);
  font-size: 1rem;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 0.5rem 1rem;
  margin-right: -1rem;
  transition: all 250ms;
  cursor: pointer;
}

form button:hover {
  box-shadow: rgba(31, 108, 171,.05) 0 -25px 18px -14px inset,rgba(31, 108, 171,.05) 0 1px 2px,rgba(31, 108, 171,.0) 0 2px 4px,rgba(31, 108, 171,.05) 0 4px 8px,rgba(31, 108, 171,.05) 0 8px 16px,rgba(31, 108, 171,.05) 0 16px 32px;
}
  
.submitButtons {
  display: flex;
  justify-content: right;
  padding: 1rem;
}
